<h2><%= @day.start_time%>の予約一覧</h2>
<% @reservations.each do |reservation| %>
  <p>予約番号 : <%= reservation.id%></p>
  <p>予約人数 : 
    <%= reservation.count_person == 0 ? "キャンセル済" : reservation.count_person%>
  </p>
<% end %>
